/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  margin: 60px 25% 60px 25%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* need one more column for Accuracy and Time. Will be seperate component*/
  grid-template-rows: 150px 200px;
  row-gap: 2px;
  column-gap: 3px;
  grid-template-areas: "mode-selects time wpm" "prompt prompt prompt";
}

h1 {
  margin-left: 3.5%;
  margin-top: 5%;
  margin-bottom: 0px;
}

h1#languageLabel,
h1#modeLabel {
  margin-top: 5%;
  margin-bottom: 0px;
}

h1#accuracy {
  margin-right: 10%;
}

select#languages,
select#modeSelect {
  margin-left: 3.5%;
}
.grid-item {
  border-radius: 8px;
  box-shadow: 3px 1px 4px rgba(0, 0, 0, 0.5);
  border: 1.5px solid black;
}

.grid-item-1 {
  grid-area: mode-selects;
  background-image: url("mechKeyLogoReddit.png");
  background-position-x: 2.9vh;
  background-size: 0.4fr;
  background-position-y: -1.6vh;
  background-repeat: no-repeat;
}

.grid-item-2 {
  display: table;
  grid-area: prompt;
  box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.grid-item-3 {
  grid-area: wpm;
}

.grid-item-4 {
  white-space: pre;
  grid-area: time;
}

#prompt {
  margin: 10px 1.5% 0px 1.5%;
}
#author {
  margin: 0px 5.5% 8px 1.5%;
  float: right;
  opacity: 0.85;
}

#myInput {
  margin-left: 5%;
  margin-right: 2.5%;
  margin-bottom: 2.5%;
  width: 90%;
  box-sizing: border-box;
}

@media only screen and (max-width: 1700px) {
  h1#wpm {
    font-size: 30px;
  }

  h1#accuracy,
  h1#time {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1450px) {
  h1#wpm {
    font-size: 4vw;
  }

  h1#accuracy,
  h1#time {
    font-size: 26px;
    white-space: pre-line;
  }
}

@media only screen and (max-width: 900px) {
  /* .grid-item-1,
  .grid-item-3,
  .grid-item-4 {
    height: 12vw;
  }

  h1#accuracy,
  h1#time {
    font-size: 2.4vw;
    white-space: pre-line;
  } */

  .App {
    margin: 60px 5% 60px 5%;
  }
  h1#wpm {
    font-size: 30px;
  }
  h1#accuracy,
  h1#time {
    font-size: 26px;
    white-space: none;
  }

  /* .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 75px 75px 200px;
    grid-template-areas: "mode-selects mode-selects mode-selects" "time time wpm" "prompt prompt prompt";
  } */

  /* #modeLanguage {
    display: flex;
  } */
}

@media only screen and (max-width: 715px) {
  h1#accuracy,
  h1#time {
    font-size: 26px;
    white-space: none;
  }
}

@media only screen and (max-width: 600px) {
  #prompt {
    font-size: 18px;
  }
  #author {
    font-size: 12px;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 75px 200px;
    grid-template-areas: "mode-selects mode-selects mode-selects" "time time wpm" "prompt prompt prompt";
    min-width: 430px;
  }

  #modeLanguage {
    display: flex;
  }
  h1#languageLabel,
  h1#modeLabel {
    margin-top: 0.55%;
    margin-bottom: 0.55%;
  }
}
